.repairBorder {
    filter: blur(0.0333333px);
    border-color: #F24242;
}

.leftSideImg {
    top: 2px;
    left: 15px;
    width: 120px;
    padding-bottom: 10px;
}

.offerText {
    position: absolute;
    top: 7px;
    right: 14px;
    max-width: 111px;
}


@media screen and (min-width: 397px) {
    .leftSideImg {
        top: -1px;
        left: 3px;
        width: 140px;
    }
}

@media screen and (min-width: 416px) {
    .leftSideImg {
        top: -4px;
        left: -8px;
        width: 160px;
    }

    .offerText {
        top: 10px;
        right: 30px;
    }
}

@media screen and (min-width: 440px) {
    .leftSideImg {
        left: 2px;
        top: 1px;
    }

    .offerText {
        top: 15px;
        right: 35px;
    }
}

@media screen and (min-width: 470px) {
    .leftSideImg {
        left: 13px;
        top: 6px;
    }

    .offerText {
        top: 15px;
        right: 45px;
    }
}

@media screen and (min-width: 500px) {
    .leftSideImg {
        left: 5px;
        top: 5px;
        width: 180px;
    }

    .offerText {
        right: 60px;
    }
}

@media screen and (min-width: 530px) {
    .leftSideImg {
        left: 16px;
        top: 5px;
        padding-bottom: 15px;
    }

    .offerText {
        top: 25px;
        right: 70px;
    }
}

@media screen and (min-width: 561px) {
    .leftSideImg {
        left: 27px;
        top: 8px;
    }

    .offerText {
        right: 80px;
    }
}

@media screen and (min-width: 579px) {
    .leftSideImg {
        left: 14px;
        top: 6px;
        width: 200px;
    }

    .offerText {
        right: 90px;
    }
}

@media screen and (min-width: 608px) {
    .leftSideImg {
        left: 25px;
        top: 8px;
    }

    .offerText {
        top: 35px;
        right: 110px;
    }
}

@media screen and (min-width: 608px) {
    .leftSideImg {
        left: 29px;
        top: 10px;
    }
}


@media screen and (min-width: 1024px) {
    .offerText {
        top: 50px;
    }
}